version: '4.50'
services: 
  mongodb:
    image: mongo:latest
    restart: always
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=utilisateur
      - MONGO_INITDB_ROOT_PASSWORD=motdepasse

